<DIV style = " width: 50%; margin: 0 auto;">
<% riderDataByMilage = @globalRiderData%>
<% riderDataByHours = @globalRiderData%>
<% riderDataByElevation = @globalRiderData%>


<% riderDataByMilage = riderDataByMilage.sort { |x, y| y["Distance"] <=> x["Distance"] } %>

<% riderDataByHours = riderDataByHours.sort { |x, y| y["hours"] <=> x["hours"] } %>

<% riderDataByElevation = riderDataByElevation.sort { |x, y| y["Elevation"] <=> x["Elevation"] } %>

<table  style ="width:500px">

	<thead>  
          <tr>  
            <th>Mileage</th>  
            <th>Hours</th>
            <th>Elevation</th>    
          </tr>  
	</thead> 
	<tbody>

		<tr>
			<td>
			<table class ="table table-hover" border ="2" style = "width: 300px">
				<thead>  
			          <tr>  
			            <th>Rider</th>  
			            <th>Miles</th>
			            <th>Back</th>   
			          </tr>  
				</thead> 
				<tbody>


				<% riderDataByMilage.each do |rd| %>
					<tr>
						<td><%= rd["name"] %></td>
						<td><%= rd["Distance"] %></td>
						<td><%= "+ #{ (riderDataByMilage[0]["Distance"] - rd["Distance"]).round(1)}" %></td>
					</tr>
				<%end%>


			    </tbody>  
			 </table> 
			</td>

			<td>
			<table class ="table table-hover" border ="2" style = "width: 300px">
				<thead>  
			          <tr>  
			            <th>Rider</th>  
			            <th>Hours</th> 
			            <th>Back</th> 
			          </tr>  
				</thead> 
				<tbody>


				<% riderDataByHours.each do |rd| %>
					<tr>
						<td><%= rd["name"] %></td>
						<td><%= rd["hours"] %></td>
						<td><%= "+ #{ (riderDataByHours[0]["hours"] - rd["hours"]).round(1)}" %></td>
					</tr>
				<%end%>


			    </tbody>  
			 </table> 
			</td>
 			<td>
			<table class ="table table-hover" border ="2" style = "width: 300px">
				<thead>  
			          <tr>  
			            <th>Rider</th>  
			            <th>Elevation</th>
			            <th>Back</th>   
			          </tr>  
				</thead> 
				<tbody>


				<% riderDataByElevation.each do |rd| %>
					<tr>
						<td><%= rd["name"] %></td>
						<td><%= rd["Elevation"] %></td>
						<td><%= "+ #{ (riderDataByElevation[0]["Elevation"] - rd["Elevation"]).round(1)}" %></td>
					</tr>
				<%end%>


			    </tbody>  
			 </table> 
			</td>
 		



 		</tr>



</tbody>  
</table> 


</DIV>