<div style = "padding-top:20px;">

<DIV style = " width:1000px; height:200px; margin: 0 auto; overflow-y:scroll;">
<% riderDataByMilage = @globalRiderData%>
<% riderDataByHours = @globalRiderData%>
<% riderDataByElevation = @globalRiderData%>


<% riderDataByMilage = riderDataByMilage.sort { |x, y| y["Distance"] <=> x["Distance"] } %>

<% riderDataByHours = riderDataByHours.sort { |x, y| y["hours"] <=> x["hours"] } %>

<% riderDataByElevation = riderDataByElevation.sort { |x, y| y["Elevation"] <=> x["Elevation"] } %>



			<table class ="table table-hover table-condensed;" >
				<thead>  
			          <tr> 
			          	<th>     </th>  
			            <th>Rider</th>  
			            <th>Miles</th>
			            <th>Back</th> 
			            <th>     </th>  
			            <th>Rider</th>  
			            <th>Hours</th>
			            <th>Back</th>
			            <th>     </th>   
			            <th>Rider</th>  
			            <th>Elevation</th>
			            <th>Back</th> 
			                
			          </tr>  
				</thead> 

				<tbody>

				<%i= 0%>
				<% riderDataByMilage.each do |rd| %>
					<tr>
						<td> <%=i +1 %></td>
						<td><%= rd["name"] %></td>
						<td><%= rd["Distance"] %></td>
						<td><%= "+ #{ (riderDataByMilage[0]["Distance"] - rd["Distance"]).round(1)}" %></td>
						<td> <%=i +1 %></td>
						<td><%= riderDataByHours[i]["name"] %></td>
						<td><%= riderDataByHours[i]["hours"] %></td>
						<td><%= "+ #{ (riderDataByHours[0]["hours"] - riderDataByHours[i]["hours"]).round(1)}"%> </td>
						<td> <%=i +1 %></td>
						<td><%= riderDataByElevation[i]["name"] %></td>
						<td><%= riderDataByElevation[i]["Elevation"] %></td>
						<td><%= "+ #{ (riderDataByElevation[0]["Elevation"] - riderDataByElevation[i]["Elevation"]).round(1)}"%></td> 
						<%i= i +1 %>

					</tr>
				<%end%>


			    </tbody>  
			 </table> 


</DIV>
</div>