<div class = "row"style ="display: table; margin:0 auto;">
	<div class ="span5 well" >


<% accessRoadLeaderBoard = @accessRoad %>

			<table class ="table table-hover table-condensed;" style="width:100px" >
				<thead>  
			          <tr > 
			          	
			            <th><h2>Rank</h2></th>  
			            <th style="padding-left:30px;"><h2>Rider</h2></th>
			            <th></th>
			            <th ><h2>Time</h2></th>
			          </tr>  
				</thead> 

				<tbody>
				<% accessRoadLeaderBoard.each do |lb| %>
						<tr >
								<% profile = lb["athlete_profile"]%>
								<% picstring = "#{profile}?#{@token}"

									puts @token
								%>

								<td ><h3><%= lb["rank"]%></h3></td>
								<td>
								<img src="<%=picstring%>" height="50" width = "50"/></td>
								<td><%= lb["athlete_name"]%></td>
								<td ><%= lb["elapsed_time"]%></td>

						</tr>
					
				<% end %>






				</tbody>

				</table>

	</div>
		<div class ="span5 well" >


<% holeShotLeaderBoard = @barnburner %>

			<table class ="table table-hover table-condensed;" style="width:100px" >
				<thead>  
			          <tr > 
			          	
			            <th><h2>Rank</h2></th>  
			            <th style="padding-left:30px;"><h2>Rider</h2></th>
			            <th></th>
			            <th ><h2>Time</h2></th>
			          </tr>  
				</thead> 

				<tbody>
				<% holeShotLeaderBoard.each do |lb| %>
						<tr >
								<% profile = lb["athlete_profile"]%>
								<% picstring = "#{profile}?#{@token}"

									puts @token
								%>

								<td ><h3><%= lb["rank"]%></h3></td>
								<td>
								<img src="<%=picstring%>" height="50" width = "50"/></td>
								<td><%= lb["athlete_name"]%></td>
								<td ><%= lb["elapsed_time"]%></td>

						</tr>
					
				<% end %>






				</tbody>

				</table>

	</div>
</div>