<h1>Listing bhcc_accesses</h1>

<table>
  <tr>
    <th>Token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bhcc_accesses.each do |bhcc_access| %>
  <tr>
    <td><%= bhcc_access.token %></td>
    <td><%= link_to 'Show', bhcc_access %></td>
    <td><%= link_to 'Edit', edit_bhcc_access_path(bhcc_access) %></td>
    <td><%= link_to 'Destroy', bhcc_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bhcc access', new_bhcc_access_path %>
