<%= form_for(@ride_datum) do |f| %>
  <% if @ride_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride_datum.errors.count, "error") %> prohibited this ride_datum from being saved:</h2>

      <ul>
      <% @ride_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ride_id %><br />
    <%= f.text_field :ride_id %>
  </div>
  <div class="field">
    <%= f.label :athlete_id %><br />
    <%= f.number_field :athlete_id %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :moving_time %><br />
    <%= f.text_field :moving_time %>
  </div>
  <div class="field">
    <%= f.label :total_elevation_gain %><br />
    <%= f.text_field :total_elevation_gain %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :location_city %><br />
    <%= f.text_field :location_city %>
  </div>
  <div class="field">
    <%= f.label :trainer %><br />
    <%= f.text_field :trainer %>
  </div>
  <div class="field">
    <%= f.label :average_speed %><br />
    <%= f.text_field :average_speed %>
  </div>
  <div class="field">
    <%= f.label :max_speed %><br />
    <%= f.text_field :max_speed %>
  </div>
  <div class="field">
    <%= f.label :calories %><br />
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :total_work %><br />
    <%= f.text_field :total_work %>
  </div>
  <div class="field">
    <%= f.label :max_power %><br />
    <%= f.text_field :max_power %>
  </div>
  <div class="field">
    <%= f.label :avg_power %><br />
    <%= f.text_field :avg_power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
